.mdiv{
    padding: 20px 20px;
    border: 1px solid #d1d7dc;
    margin-top:  50px;
}

.mdiv ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.mdiv li{
    width: 40%;
}

.mdiv li span{
    margin-left: 10px;
    margin-right: 10px;
}
.mdiv li div{
    margin: 2px 0px;
}